:root {
    --primary-color: #4361ee;
    --secondary: #3f37c9;
    --accent-color: #4cc9f0;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition: all 0.3 ease;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppin', sans-serif;
    background-color: #f5f7ff;
    color: var(--dark-color);
    line-height:1.6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.app-container {
    width
}